email-to-clickup-automation.json
{
  "name": "email-to-clickup-automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e10b972a-326a-4323-99cf-cd9f54333224",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "WIBtBjwOLsxJp9RV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e33572f7-cb3e-47a7-a2d1-8589a8cfdf6c",
              "leftValue": "={{ $json.Subject }}{{ $json.snippet }}",
              "rightValue": "urgent",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "74e1d555-f83b-43c8-b035-a02645237d7b",
              "leftValue": "={{ $json.Subject }}{{ $json.snippet }}",
              "rightValue": "invoice",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6a718186-744d-454d-8774-3f673f7d3db1",
              "leftValue": "={{ $json.Subject }}{{ $json.snippet }}",
              "rightValue": "payment",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7b9b4342-6390-471a-9400-718b6e8f096a",
              "leftValue": "={{ $json.Subject }}{{ $json.snippet }}",
              "rightValue": "ASAP",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "7fcd0d4e-5df8-4f8a-b9b8-96caaed0bcf3",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39ddab8a-8af4-4a9e-bcc0-969f944a56a9",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "a9848c5d-6729-499d-b1e1-2da3cd802e27",
              "name": "From",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "bae1bf45-6efb-4544-addd-78494ab663b6",
              "name": "To",
              "value": "={{ $json.To }}",
              "type": "string"
            },
            {
              "id": "3b1cc634-d3b2-447b-84e1-991e42f884f9",
              "name": "snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "d526bc3e-5d41-4228-bfb4-1fc7f1f377f9",
              "name": "labels",
              "value": "={{ $json.labels }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        0
      ],
      "id": "59d81785-f098-4a4e-b241-d2e8d82f9615",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "90182399518",
        "space": "90189605885",
        "folderless": true,
        "list": "901815633662",
        "name": "={{ $('Edit Fields').item.json.snippet }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        640,
        -144
      ],
      "id": "a003df69-3a54-4adc-87a3-89795450bf11",
      "name": "Create a task",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "RiwQONHGIeRQTbN6",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "=Hello,\n\nYour email has been received and a task has been successfully created in our system.\n\nTask ID: {{$json.id}}\nTask Link: {{$json.url}}\n\nWe will update you soon.\n\nThank you.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        848,
        -144
      ],
      "id": "a73cd7af-5bef-45b1-a97c-1feeff83ce3c",
      "name": "Reply to a message",
      "webhookId": "63a5d789-c0d0-4be2-b5b8-eb079320afb5",
      "credentials": {
        "gmailOAuth2": {
          "id": "WIBtBjwOLsxJp9RV",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f2e4a991-e08c-4e23-a379-e8a7601f9da2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90bc4224b42115573682ac39d9ce0acc2dd137ee4413304aba6078f953a4ae9e"
  },
  "id": "G-gPDNXrl0xrJJbV1_Wvi",
  "tags": []
}